body{
    background-color: rgb(238, 61, 91);
    font-family: 'Times New Roman';
    overflow: hidden;
}

.flower1, .flower2, .flower3, .flower4, .flower5, .flower6{
    position: absolute;
    width: 150px;
    cursor: pointer;
}

.flower1{
    left: 5rem;
    top: 2rem;
}

.flower2{
    right: 9rem;
    z-index: -1;
    top: 2rem;
}

.flower3{
    width: 250px;
    bottom: 0;
    left: 3rem;
}

.flower4{
    bottom: 0;
    right: 10rem;
    width: 300px;
    z-index: -1;
}

.flower5{
    top: 15rem;
    right: 0;
}

.flower6{
    top: 0;
    right: 50%;
    left: 30%;
    z-index: -1;
    width: 260px;
}

.container{
    margin: 3rem 10rem;
    display: flex;
}

.left-content{
    width: 60%;
    background: url(/img/337887838_3407194669549436_5895762792838816503_n.jpg) no-repeat center;
    background-size: cover;
}

.right-content{
    color: white;
}

.right-content h2{
    font-size: 2rem;
    padding: 0 1rem 1rem 1rem;
}

.right-content p{
    font-size: 1rem;
    max-width: 300px;
    margin-left: 2.3rem;
    text-align: justify;
}

.right-content p .happy{
    margin-left: 2rem;
    text-align: justify;
}

.marry{
    margin-left: none;
    color: red;
}
